body {
    background-image: url("images/tile.jpg");
}

.main {
    margin: 0px 20px;
}

.grechen-fuemen-regular {
    font-family: "Grechen Fuemen", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  
.anton-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.input {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid royalblue;
    max-width: 75%;
    width: 400px;
}

.center {
    text-align: center;
    padding: 10px;
    max-width: 75%;
}

.header {
    font-family: "Grechen Fuemen", cursive;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    max-width: 75%;
}

.taskDescContainer {
    height: 100px;
    margin-bottom: 20px;
}

.taskDesc {
    height: 100px;
    width: 400px;
}

.taskList {
    max-width: 100%;
    margin: 0 auto;
}

.taskListContainer {
    padding: 10px;
    max-width: 1200px;
}

.upperSection {
    max-width: 750px;
    margin: 0px auto;
}

.addTaskForm {
    padding: 10px;
    background-image: url("images/formbg.jpg");
    border-radius: 5px;
}

.addTaskForm h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: royalblue;
    background: white;
    border-radius: 5px;
    border: 3px solid royalblue;
}

.taskCard {
    margin: 0 auto;
}

.formBtns {
    color: royalblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    background: white;
    padding: 4px 24px
}

.cardBtns {
    text-align: right;
    visibility: hidden;
}

.taskCard :hover .cardBtns {
    visibility: visible;
}

.editBtns,
.deleteBtns {
    display: inline-block;
    cursor: pointer;
    padding: 0 4px;
}

.cardTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: darkorange;
    text-align: left;

}

.card-scroll-box {
    overflow-y: auto;
    max-height: 190px;
    margin-bottom: 16px;
}

.card-img-overlay {
    text-align: left;
    margin: 45px 45px 40px 20px;
}

.card-img-overlay h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: black;
    text-align: left;
}

.card-img-overlay .taskDateTime {
    font-weight: bold;
}

.animate-fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.card-scroll-box::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

.card-scroll-box::-webkit-scrollbar-thumb {
    background: darkorange;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
