
body {
    background-image: url("images/tile.jpg");
}

#main {
    margin: 0px 20px;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid royalblue;
    max-width: 75%;
    width: 400px;
}

.center {
    text-align: center;
    padding: 10px;
    max-width: 75%;
}

header {
    text-align: center;
    padding: 10px;
    max-width: 75%;
}

#taskDescContainer {
    height: 150px;
    margin-bottom: 20px;
}

#taskDesc {
    height: 150px;
    width: 400px;
}

#taskList {
    max-width: 100%;
    margin: 0 auto;
}

#taskListContainer {
    padding: 10px;
    max-width: 1200px;
}

#upperSection {
    max-width: 750px;
    margin: 0px auto;
}

#addTaskForm {
    padding: 10px;
    background-image: url("images/formbg.jpg");
}

#addTaskForm h2 {
    font-family: "Anton", sans-serif;
    color: royalblue;
}

#taskCard {
    margin: 0 auto;
}
.taskCard {
    padding-left: 50px;
}

.formBtns {
    color: royalblue;
    font-family: "Anton", sans-serif;
    border: 2px solid royalblue;
    border-radius: 10px;
    background: white;
}

.cardBtns {
    color: darkorange;
    font-family: "Anton", sans-serif;
    border: none;
    background: none;
}

.card-img-overlay {
    text-align: left;
    margin: 45px 45px 40px 20px;
}

.card-scroll-box {
    overflow-y: auto;
    max-height: 190px;
    margin-bottom: 16px;
}

.card-img-overlay h4 {
    font-family: "Anton", sans-serif;
    color: darkorange;
}

.card-img-overlay .taskDateTime {
    font-weight: bold;
}

.animate-fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.card-scroll-box::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

.card-scroll-box::-webkit-scrollbar-thumb {
    background: darkorange;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
